PORT=3000
KEYCLOAK_ISSUER_BASE_URL=https://keycloak-cert-mia1.tbxnet.com/realms/tbx-apis
KEYCLOAK_ADMIN_URL=https://keycloak-cert-mia1.tbxnet.com
KEYCLOAK_ADMIN_CLIENT_ID=admin-cli
KEYCLOAK_ADMIN_CLIENT_SECRET=
KEYCLOAK_REALM=tbx-apis
DEVELOPER_PORTAL_SECRET=
TEST_PARTNER_CLIENT_ID=
TEST_PARTNER_CLIENT_SECRET=
